body {
    margin: 24px;
    padding: 0px;
    
}

.home-image {
    width: 75px;
    height: 50px;
}

.navbar-brand {
    display: flex;
    justify-content: left;
}

.zipcode {
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: left;
}

.submit-box {
    display: flex;
    flex-direction: row;
}

.weather-wrapper {
    position: relative;
    float: left;
}

.weather-information {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 50px;
    font-size: 24px;

}

.weather-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* .today-container {
    position: relative;
    float: left;
    margin: 0;
    padding: 20px;
}

.tomorrow-container {
    position: relative;
    float: right;
    margin: auto;
    padding: 20px;
} */