body {
    margin: 0px;
    padding: 0px;
  
}

.hero.has-background{
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
      opacity: 0.3;
}


.hero-body {
    padding: 0px; 
}

.message-header {
    background-color:black; 
}

.button {
    border-color:black;
}

.input {
    border-color:black; 
}
.home-image {
    width: 75px;
    height: 50px;
}

.navbar-brand {
    display: flex;
    justify-content: left;
}

.zipcode {
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: left;
}

.submit-box {
    display: flex;
    flex-direction: row;
}

.hero {
    align-items: stretch;
    display: block;
	flex-direction: column;
	justify-content: space-between;
}

#weatherIcon {
    align-self: center;
}

