body {
    margin: 0px;
    padding: 0px;
    font-family: 'Libre Franklin', sans-serif;
  
}

.hero.has-background{
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
      opacity: 0.3;
}


.hero-body {
    padding: 0px; 
}

.message-header {
    background-color: hsla(0, 0%, 0%, 0.52);
    justify-content:center;  
    font-family:'Libre Franklin';
    font-size: 1.8rem; 
    color: #f2f2f2;
}

.message {
    background-color:transparent; 
}

.button {
    border-color:black;
    color: #f2f2f2;
    background-color: hsla(0, 0%, 0%, 0.52)
}

.input {
    border-color:black;
    background-color:#36363652; 
    color: #f2f2f2;
    
}
.home-image {
    width: 125px;
    height: 100px;
}

.navbar-brand {
    display: flex;
    justify-content: left;
}

.zipcode {
    margin: 0 auto;
}

.submit-box {
    display: flex;
    flex-direction: row;
}

.hero {
    align-items: stretch;
    display: block;
	flex-direction: column;
	justify-content: space-between;
}

#weatherIcon {
    align-self: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}